[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = gerrithub test
[access "refs/*"]
	owner = group user/snergfdio
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/snergfdio
	label-Verified = -1..+1 group user/snergfdio
	push = group user/snergfdio
	read = group user/snergfdio
	rebase = group user/snergfdio
	removeReviewer = group user/snergfdio
	submit = group user/snergfdio
[access "refs/heads/*"]
	create = group user/snergfdio
	push = +force group user/snergfdio
	pushMerge = group user/snergfdio
	read = group user/snergfdio
[access "refs/tags/*"]
	push = group user/snergfdio
	push = +force group user/snergfdio
